

<iframe width="560" height="315" src={{ video.url }} frameborder="0" allowfullscreen></iframe>

<h3>{{ video.name }}</h3> par <a href="../userVideo/{{ video.userId }}"><span> {{ name }}</span></a>

<div class="videoDescription">{{ video.description }}</div>